<h1>About us</h1>
<p> Here at scent bakery, we want to make your house smell like your favorite pastries, by providing you with mini air freshners you can hide throughout your house,<br> for a secret, yet powerful smell throughout your house!</p>